<div class ="center hero-unit">
<h1>Welcome</h1>
<p>This page is created by following rubyonrails tutorial</p>
<%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/'%>
