<footer class="footer">
<small>
<a href="http://sameheaven.herokuapp.com">This on Heroku</a>
 by Iggy
</small>
<nav>
	<ul>
		<li><%= link_to "About",    '#'%></li>
		<li><%= link_to "Contact", '#' %></li>
	</ul>
</nav>
</footer>
